<!-- unused -->

{% extends "main.html" %}

{% block nav %}
<div class = menu>
    <div class=menuitem style = "float: right; margin-top: 10px">
        <a href="{{ url_for('start')}}">Back to Calendar</a>
    </div>
</div>

{% endblock %}

{% block container %}

<div style = "display: inline-flex;">
<form method = "POST" style = "display: block;"> 
    <div style = "display: block;">
        <input type="text" name="new_event_name" placeholder="Event Name" class="name_input">
    </div>

    <b style = "display: block;"><p>Please select how the date of your event will be calculated:</p></b>
    <div>
        <input type="radio" id="static_radio" name="event_type" value="static_day">
        <label for="static_radio">By Month and Day (E.g. January 1st)</label> <br>
      
        <input type="radio" id="varied_radio" name="event_type" value="varied_day">
        <label for="varied_radio">By Weekday and Month (E.g. 3rd Thursday of November)</label>
    </div>

    <div class = "static_choices">
        <select name="new_event_month"> 
            <option value = 1>January</option>
            <option value = 2>February</option>
            <option value = 3>March</option>
            <option value = 4>April</option>
            <option value = 5>May</option>
            <option value = 6>June</option>
            <option value = 7>July</option>
            <option value = 8>August</option>
            <option value = 9>September</option>
            <option value = 10>October</option>
            <option value = 11>November</option>
            <option value = 12>December</option>
        </select>

        <input type="text" name="new_event_day" placeholder="day">
    </div>

   <div class = "varied_day_choices">
    <select name="new_event_weekdayofmonth"> 
        <option value = 1>First</option>
        <option value = 2>Second</option>
        <option value = 3>Third</option>
        <option value = 4>Fourth</option>
        <option value = 5>Fifth</option>
    </select>

    <select name="new_event_weekday"> 
        <option value = 0>Monday</option>
        <option value = 1>Tuesday</option>
        <option value = 2>Wednesday</option>
        <option value = 3>Thursday</option>
        <option value = 4>Friday</option>
        <option value = 5>Saturday</option>
        <option value = 6>Sunday</option>
    </select>
    <p style = "display: inline-flex; margin-inline-end: 5px; margin-inline-start: 5px;">of</p>
    <select name="new_event_month"> 
        <option value = 1>January</option>
        <option value = 2>February</option>
        <option value = 3>March</option>
        <option value = 4>April</option>
        <option value = 5>May</option>
        <option value = 6>June</option>
        <option value = 7>July</option>
        <option value = 8>August</option>
        <option value = 9>September</option>
        <option value = 10>October</option>
        <option value = 11>November</option>
        <option value = 12>December</option>
    </select>
</div>

<input class= "submit_event" type="submit" value="Add Event">
</form>
</div>
{% endblock %}

