<html>

<head>

    <link rel="stylesheet"  href="static/styles.css"> 

    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
    </script>

    <script src = "{{ url_for('static', filename='main.js')}}">


</script>

</head>

<body onload="calendarPage('{{ month }}', '{{ year }}', '{{ selected_day }}', '{{wk_start_day}}')">

<div>
</div>


<div class="container" id="main_container">
    <div id='day_info'></div>

</div>


</body>

</html>